extends layout

block content
  section.brands-wrapper
    h1 #{title}: #{brand.name}

    if brand_models.length

      p #[strong ERROR: Delete these models before attempting to remove this brand.]

      div(style='margin-left:20px;margin-top:20px')

        h4 Models:

        dl
        each model in brand_models
          dt
            a(href=`${model.url}`) #{model.name}

    else
      p Do you really want to delete this brand?

      form.centered(method='POST' action='')
        div.form-group
          input#brandid.form-control(type='hidden',name='brandid', required='true', value=brand._id )

        button.btn.btn-primary(type='submit') Delete