extends layout

block content

  h1 #{title}: #{brand.name}

  div(style='margin-left:20px;margin-top:20px')

    h2 Available Models

    dl
      each model in brand_models
        dt
          a(href=`/model/${model.id}`) #{model.name}

      else
        p No models found for this brand

    a(href=`/model/create`) Create model

  hr
  p
    a(href=brand.url+'/delete') Delete brand
  p
    a(href=brand.url+'/update') Update brand