extends layout

block content
  h1 List of #{title}s

  ul(class='device-list')
    each device in devices
      li
        a(href=`${device.url}`) #{device.name}
          img(class='devices' src=`${device.img_link}`)

    else
      li There are no devices.

  hr
  p
    a(href=`${category.url}/delete`) Delete category