extends layout

block content
  section.section-wrapper

    div.category-details
      h1 List of #{title}s
      div
        a(href=`${category.url}/delete`)
          button.color-change-button Delete Category
        a(href=`${category.url}/update`)
          button.color-change-button Update Category

    div.device-list.centered
      each device in device_list
          a(href=`/device/${device._id}` class='device')
            img(class='device-img' src=`${device.img_link}`)
            span #{device.name}
      else
        span There are no devices.