extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name of device' name='name')

    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', placeholder='Description' name='description')

    div.form-group
      label(for='number_in_stock') Number in stock:
      input#number_in_stock.form-control(type='number', placeholder='Number in stock' name='number_in_stock' min=1)

    div.form-group
      label(for='price') Price:
      input#price.form-control(type='number', placeholder='99.99' name='price' step='0.01')

    div.form-group
      label(for='category') Category:
      select#category.form-control(type='select', placeholder='Select category' name='category' required='true')
        for category in categories
            option(value=category._id selected=(category._id.toString()===category._id.toString() ? 'selected' : false) ) #{category.name}

    div.form-group
      label(for='model') Model:
      select#model.form-control(type='select', placeholder='Select model' name='model' required='true')
        for model in models
            option(value=model._id) #{model.name} - #{model.brand.name}
    
    div.form-group
      label(for='condition') Condition:
      select#condition.form-control(type='select', placeholder='Select condition' name='condition' required='true')
        for condition in conditions
          if device
            option(value=condition selected=(device.condition === condition ? 'selected' : false)) #{condition}
          else
            option(value=condition) #{condition}

    div.form-group
      label(for='img_link') Image Link:
      input#img_link.form-control(type='text', placeholder='Image Link' name='img_link')

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg