extends layout

block content
  section.section-wrapper
    h1 Model: #{model.name}
    div
      h2=`Brand: ` 
        a(href=`/brand/${model.brand.id}`) #{model.brand.name}

    div
      a(href=`${model.url}/delete`)
        button.color-change-button Delete Model
      a(href=`${model.url}/update`)
        button.color-change-button Update Model